aws_region             = ""
security_group_id      = ""
instance_id            = ""
server_ip              = ""
server_user            = ""
ssh_private_key_path   = ""
grafana_admin_user     = ""
grafana_admin_password = ""
slack_webhook_url      = ""